/*Corps de la page */

#bloc_page {
    width: 1000px;
    margin: auto;
    font-family: 'Raleway', Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

span {
    font-weight: bold;
}

/* HEADER */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 0 30px;
}

#top {
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    font-size: .8em;
}

header nav ul{
    display: flex;
    margin-right: 25px;
}

header nav li {
    list-style-type: none;
    padding: 0px 25px ;
}

#bold_blue {
    font-weight: bold;
    color: #0065FC;
}

    /* AU SURVOL */

.nav_hover:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 20px;
}

/* BLOC PARAGRAPHE */

#bold_black {
    font-weight: bold;
    margin: 30px 0 5px 30px;
}

#bloc_p p:last-child {
    font-size: .8em;
    margin: 0 30px;
}

/* RECHERCHE */ 

#search {
    margin: 30px 0 0 30px;
}
#search p {
    display: flex;
    align-items: center;
}
.fa-map-marker-alt:before {
    background-color: #F2F2F2;
    padding: 10.6px 15px;
    border-radius: 10px 0 0 10px;
}

input[type="search"] {
    padding: 10px 2px 10px 5px;
    border: #F2F2F2 solid;
    border-width: 1px 0;
}

::placeholder {
    color: #000;
    font-weight: bold;
    opacity: 1
}

input[type="submit"] {
    background-color: #0065FC;
    border: none;
    color: #fff;
    padding: 11px 15px;
    border-radius: 0 10px 10px 0;
}

input[type="image"] {
    display: none;
}

/* FILTRES */

#filtres {
    display: flex;
    font-weight: bold;
    align-items: center;
    font-size: .8em;
    margin-left: 30px;
}

#filtres ul {
    display: flex;
    flex-wrap: wrap;
}

#filtres li {
    list-style-type: none;
    border: #d9d9d9 solid;
    border-width: 2px 2px 2px 0;
    border-radius: 30px;
    padding: 6.5px 15px 6.5px 0px;
    margin-right: 20px;
}

#filtres .fas {
    background-color: #DEEBFF;
    color: #0065fc;
    padding: 10px;
    border-radius: 30px;
    margin: 0.5px 10px 0 0;
    display: inline;
}

.fa-child:before {
    padding: 5px 3px;
}

    /* AU SURVOL */

#filtres li:hover {
    background-color: #0065FC;
    color: #fff;
    border-color: #fff;
}

/* BLOC INFO */

#bloc_info {
    display: flex;
    align-items: baseline;
    margin-left: 30px;
}

.fa-info:before {
    color: #0065FC;
    font-size: .5em ;
    border: #d9d9d9 solid 1.5px;
    padding: 4px 7px;
    border-radius: 10px;
    
}

#bloc_info p {
    font-size: .8em;
    margin-left: 10px;
    padding-top: 7px;
}

/* SECTION HEBERGEMENTS */

    /* ETOILES */

i.fas.fa-star {
    color: #0065fc;
    font-size: .6em;
}

i.fas.fa-star.star_grey {
    color: #d9d9d9;
}

.stars {
    margin: 0 0 0 10px;
}
    /* CARTES D'HEBERGEMENTS */

#hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 30px;
}
#result_hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 10px;
    flex-basis: 640px;
    width: 100%;
    height: 430px;
    margin: 20px 0;
}
.card_heberg {
    background-color: #fff;
    margin: 0 10px 0 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #d9d9d9;
    padding: 3px;
    width: 180px;
    height: 140px;
}

#result_hebergements h2 {
    width: 100%;
    margin: 30px 0 0px 30px;
    font-size: 1em;
}

.card_heberg h3 {
    width: 100%;
    font-size: .7em;
    margin: 3px 0 0 10px;
}

.card_heberg p {
    font-size: 0.6em;
    margin: 3px 0 0 10px;
}

.card_heberg img {
    object-fit: cover;
    width: 100%;
    height: 80px;
    border-radius: 8px 8px 0 0;
}

#lien_plus {
    font-weight: bold;
    font-size: .8em;
    margin: 10px 0px 10px 30px;
    width: 100%;
}

    /* LES PLUS POPULAIRES */

#result_pop {
    flex-basis: 280px;
    background-color: #F2F2F2;
    border-radius: 10px;
    height: 430px;
    margin: 20px 0 20px 20px;
}

#result_pop h2 {
    margin: 30px 30px 0 30px;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
}

.card_pop {
    background-color: #fff;
    box-shadow: 5px 5px 10px #d9d9d9;
    border-radius: 10px;
    margin: 20px;
    width: auto;
    height: 96px;
}

.card_pop h3 {
    font-size: .7em;
    margin: 10px 0 0 10px;
    width: 92%;
}

.card_pop p {
    font-size: 0.6em;
    margin: 3px 0 15px 10px;
}

.card_pop img {
    object-fit: cover;
    width: 90px;
    height: 90px;
    border-radius: 10px 0 0 10px;
    margin: 3px;
}

.info_hebergement {
    display: inline-block;
    vertical-align: top;
}

/* SECTION ACTIVITÉS */

#activities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 30px;
}

#activities h2 {
    width: 100%;
    font-size: 1em;
}

.card_activities {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 20px #d9d9d9;
    border-radius: 10px;
    width: 210px;
    height: 300px;
}

.card_activities img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 260px;
}

.card_activities h3,
.double_card h3,
#activity1 h3 {
    font-size: .8em;
    margin: 10px 15px;
}

#activity1, #activity2, 
.activity3 {
    box-shadow: 3px 3px 20px #d9d9d9;
    border-radius: 10px;
}

.double_card {
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activity1,
#activity2 {
    padding-bottom: 3px;
}

#activity1 img {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 120px;
}

#activity2 img {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 80px;
}

.activity3 img {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 90px;
}

.activity3 {
    padding-bottom: 5px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    margin-top: 40px;
    padding: 30px;
}

footer h1,
footer li {
    font-size: .8em;
    margin: 10px;
}

footer li {
    list-style-type: none;
}

footer ul {
    padding: 0;
}

footer div {
    width: 30%;
}

/* RESPONSIVE */

    /* TABLETTES */

    @media all and (max-width: 880px)
{
    #bloc_page {
        width: auto;
    }
}

    /* MOBILES */

@media all and (max-width: 480px)
{
    #bloc_page {
        width: auto;
    }

        /* HEADER */

    header {
        margin: 20px 15px 0 15px;
    }
            /* MENU */
    #top {
        display: contents;
        font-size: 1em;
    }

    #top a {
        margin-top: 20px;
    }

    header nav li {
        margin-top: 15px;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 10px;
    }

    nav {
        margin: auto;
    }
        /* AU SURVOL */
    .nav_hover:hover {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 10px;
    }

        /* BLOC PARAGRAPHE */
    #bold_black {
        margin: 15px;
        font-size: 1.5em;
    }

    #bloc_p p:last-child{
        margin: 0 15px;
        font-size: 1em;
    }
        /* RECHERCHE */
    #search {
        margin: 30px 0 30px 15px;
    }

    .fa-map-marker-alt:before {
        padding: 16.6px 17px;
    }

    input[type="submit"] {
        display: none;
    }

    input[type="image"] {
        display: flex;
        width: 17px;
        background-color: #0065FC;
        border: none;
        padding: 16px;
        border-radius: 15px;
        margin-left: -9px;
    }

    input[type="search"] {
        font-size: 1.2em;
        padding: 12px 0 12px 15px;
    }
        /* FILTRES */ 
    #filtres {
        display: block;
        align-items: flex-start;
        font-size: 1.2em;
        margin-left: 15px;
    }

    #filtres ul {
        justify-content: flex-start;
        padding-left: 0;
        width: 100%;
        font-size: 0.9em;
    }

    #filtres li {
        margin-bottom: 10px;
        padding: 11.5px 15px 11.5px 0px;
    }

    #filtres .fas {
        padding: 15px;
    }
    /* BLOC INFO */
    #bloc_info {
        margin: 0 15px;
    }

    #bloc_info p {
        font-size: 1em;
    }
        /* SECTION HEBERGEMENTS */
    #hebergements {
        flex-direction: column-reverse;
        margin: 0;
    }
            /* LES PLUS POPULAIRES */
    #result_pop {
        width: 100%;
        height: 700px;
        margin: 20px 0;
        border-radius: 0;
        padding-bottom: 30px;
    }

    #result_pop h2 {
        font-size: 1.5em;
        margin: 45px 15px 30px 15px;
    }

    .card_pop {
        border-radius: 15px;
        margin: 15px;
        width: auto;
        height: 150px;
    }

    .card_pop img {
        object-fit: cover;
        width: 140px;
        height: 140px;
        border-radius: 13px 0 0 13px;
        margin: 5px;
    }

    .card_pop h3 {
        font-size: 1.1em;
        margin: 15px 0 0 15px;
    }

    i.fas.fa-star {
        font-size: .8em;
    }

    .stars {
        margin: 0 0 0 15px;
    }

    .card_pop p {
        font-size: .9em;
        margin: 8px 0 35px 15px;
    }
            /* CARTES D'HEBERGEMENTS */
    #result_hebergements {
        width: 100%;
        height: 1500px;
        margin: 0;
        border-radius: 0;
        padding-bottom: 10px;
        background: none;
    }

    #result_hebergements h2 {
        font-size: 1.5em;
        margin: 15px 0 15px 15px;
    }

    .card_heberg {
        width: 400px;
        height: 200px;
        border-radius: 20px;
        border: solid #F2F2F2 1px;
        margin-bottom: 15px;
        padding: 5px;
    }

    .card_heberg img {
        height: 120px;
        border-radius: 15px 15px 0 0;
    }

    .card_heberg h3 {
        font-size: 1.1em;
        margin: 5px 0 0 15px;
    }

    .card_heberg p {
        font-size: .9em;
        margin: 3px 0 5px 15px;
    }

    #lien_plus {
        font-size: 1.2em;
        margin: 30px 0px 30px 15px;
    }
        /* SECTION ACTIVITÉS */
    #activities {
        
    }

    #activities h2 {
        font-size: 1.5em;
    }

        /* FOOTER */

}